<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SqlDB" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Project\test\WIP DEV\CGS_ISO_Branch\WindowsFormsApplication1\Tornei.mdf;Integrated Security=True" />
    <add key="SqlDBTest" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Project\test\WIP DEV\CGS_ISO_Branch\WindowsFormsApplication1\TorneiTest.mdf;Integrated Security=True" />
    <add key="SqlDBFemale" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Project\test\WIP DEV\CGS_ISO_Branch\WindowsFormsApplication1\TorneiFemminile.mdf;Integrated Security=True" />
    <add key="Creazione" value="false" />
    <add key="Debug" value="false" />
    <add key="DataBase" value="Maschile" /> <!-- Maschile, Femminile, Test-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>